{% extends "base.html" %}

{% block content %}

 <form action="#" method="POST"> 
    <div class="input-group mb-3">
       <label for="exampleFormControlInput1" class="form-label" style="font-size: 5vw" > <strong> make sure one or more of these statements is true: </strong></label>
       <label for="exampleFormControlInput1" class="form-label" style="font-size: 3vw" > <strong> > I can confirm I've recieved a predicted grade and possibly any other information</strong></label>
       <label for="exampleFormControlInput1" class="form-label" style="font-size: 3vw" > <strong> > I can confirm I've updated or checked any form of progress</strong></label>
    </div>

    <button type="submit" class="btn btn-primary btn-lg">confirm and logout</button>
 </form>

{% endblock %}
