{% extends "loginbase.html" %}

{% block content %}
 <form action ="#" method = "POST">
    <br><br>
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Email address</label>
      <input type="email" name="usr" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    </div>
    <button name = "verified" type="submit" value = "sentver" class="btn btn-primary">send verification code</button>
    <br><br>
    <div class="input-group mb-3">
      <label class="input-group-text" for="inputGroupSelect01">user-type</label>
      <select name="usrtype" class="form-select" id="inputGroupSelect01">
        <option value="student">Student</option>
        <option value="teacher">Teacher</option>
      </select>
    </div>
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label"> School's Username</label>
      <input type="text" name="usrn" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Password</label>
      <input type="password" name="psd" class="form-control" id="exampleInputPassword1">
    </div>
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">enter verification code</label>
      <input type="text" name="verificationcode" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    </div>
    <button name = "submit" type="submit" value = "checkforsubmission" class="btn btn-primary">create account</button>

 </form>
{% endblock %}